@mixin  responsive($breakpoint) {
    @if $breakpoint==phone{
        @media screen and (max-width:430px){@content};
    }
    @if $breakpoint==tab{
        @media screen and (max-width:768px){@content};
    }
}


.body{
    position: relative;
}

.header{
    height: 140px;
    width: 100%;
    background-color: #292929;

    @include responsive(phone){
        height: 67px;
    }
}

.para1{
    color:#FFFFFF;
    outline-offset: 10px;
    outline-color: #FFFFFF;
    outline-style: solid;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 77px;
    top: 40px;

    @include responsive(tab){
        left: 170px !important;
        padding: 5px;
        font-size: 23px;
        outline-offset: 5px !important;
       
    
    }

    @include responsive(phone){
        top: 16px;
        left: 107px;
        padding: 0px !important;
        font-size: 20px;
        outline-offset: 8px;

        
    }

}


.banner{
    height: 550px;
    width: 100%;
    background-image: url('./../images/banner.jpg');
    background-position: center;
    background-size: cover;

    @include responsive(phone){
        height: 257px;
    }
   
}

.para2{
    font-family: DM Sans;
    font-size: 72px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: -0.05em;
    height: 282px;
    width: 450px;
    position: absolute;
    left: 77px;
    top: 247px;
    color: #FFFFFF;

    @include responsive(tab){ 
        text-align: center;
        height: 300px;
        width: 400px;
        left: 195px;
        top: 247px;
       
      
    }
    @include responsive(phone){
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        height: 72px;
        width: 50%;
       left: 100px;
       top: 150px;
        
           
    }
}


.para3{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color:#000000;
    padding-top: 20px;
    
}
.para4{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #000000;

    @include responsive(phone){
        font-size: 18px;
        line-height: 23px;
        
        
    }

}

//  swiper break-point 

.swiper-container {
    width: 480px;

    @media screen and (max-width: 320px) {
          width: 320px;
          gap: 10px;
        }
    @media screen and (min-width: 640px) {
          width: 640px;
      }

      @media screen and (min-width: 768px) {
          width: 768px;
      }
    }